@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 5.9% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 5.9% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 5.9% 10%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 240 5.9% 10%;
    --foreground: 0 0% 98%;
    --card: 240 4.8% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 4.8% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 262.1 83.3% 57.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .neon-glow {
    @apply shadow-[0_0_15px_hsl(var(--primary)/0.5),_0_0_5px_hsl(var(--primary)/0.3)];
  }
  .animated-gradient {
    background: linear-gradient(300deg, #D8E2EF, #add8e6, #ffffff, #87ceeb);
    background-size: 240% 240%;
    animation: gradient-animation 16s ease infinite;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .bubble {
      position: absolute;
      bottom: -100px;
      width: 40px;
      height: 40px;
      background-color: hsla(var(--primary) / 0.2);
      border-radius: 50%;
      opacity: 0.5;
      animation: rise 25s infinite ease-in;
  }

  .bubble:nth-child(1) { left: 10%; animation-duration: 20s; width: 60px; height: 60px; }
  .bubble:nth-child(2) { left: 20%; animation-duration: 15s; width: 30px; height: 30px; animation-delay: 1s;}
  .bubble:nth-child(3) { left: 35%; animation-duration: 30s; width: 80px; height: 80px; animation-delay: 3s;}
  .bubble:nth-child(4) { left: 50%; animation-duration: 18s; width: 45px; height: 45px; animation-delay: 5s;}
  .bubble:nth-child(5) { left: 55%; animation-duration: 28s; width: 25px; height: 25px; animation-delay: 2s;}
  .bubble:nth-child(6) { left: 65%; animation-duration: 22s; width: 70px; height: 70px; animation-delay: 7s;}
  .bubble:nth-child(7) { left: 75%; animation-duration: 12s; width: 35px; height: 35px; animation-delay: 4s;}
  .bubble:nth-child(8) { left: 80%; animation-duration: 35s; width: 90px; height: 90px; animation-delay: 6s;}
  .bubble:nth-child(9) { left: 90%; animation-duration: 17s; width: 50px; height: 50px; animation-delay: 8s;}
  .bubble:nth-child(10) { left: 95%; animation-duration: 26s; width: 40px; height: 40px; animation-delay: 9s;}

  @keyframes rise {
      0% {
          bottom: -100px;
          transform: translateX(0);
      }
      50% {
        transform: translateX(100px);
      }
      100% {
          bottom: 100%;
          transform: translateX(-100px);
      }
  }

}
