@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 14.3% 95.9%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 225 65% 32%;
    --primary-foreground: 0 0% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 223 49% 43%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 225 65% 32%;

    --radius: 0.8rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 6.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .neon-glow {
    @apply shadow-[0_0_15px_rgba(30,58,138,0.5),_0_0_5px_rgba(30,58,138,0.3)];
  }
  .animated-gradient {
    background: linear-gradient(300deg, #D8E2EF, #add8e6, #ffffff, #87ceeb);
    background-size: 240% 240%;
    animation: gradient-animation 16s ease infinite;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .bubble {
      position: absolute;
      bottom: -100px;
      width: 40px;
      height: 40px;
      background-color: hsla(var(--primary) / 0.2);
      border-radius: 50%;
      opacity: 0.5;
      animation: rise 25s infinite ease-in;
  }

  .bubble:nth-child(1) { left: 10%; animation-duration: 20s; width: 60px; height: 60px; }
  .bubble:nth-child(2) { left: 20%; animation-duration: 15s; width: 30px; height: 30px; animation-delay: 1s;}
  .bubble:nth-child(3) { left: 35%; animation-duration: 30s; width: 80px; height: 80px; animation-delay: 3s;}
  .bubble:nth-child(4) { left: 50%; animation-duration: 18s; width: 45px; height: 45px; animation-delay: 5s;}
  .bubble:nth-child(5) { left: 55%; animation-duration: 28s; width: 25px; height: 25px; animation-delay: 2s;}
  .bubble:nth-child(6) { left: 65%; animation-duration: 22s; width: 70px; height: 70px; animation-delay: 7s;}
  .bubble:nth-child(7) { left: 75%; animation-duration: 12s; width: 35px; height: 35px; animation-delay: 4s;}
  .bubble:nth-child(8) { left: 80%; animation-duration: 35s; width: 90px; height: 90px; animation-delay: 6s;}
  .bubble:nth-child(9) { left: 90%; animation-duration: 17s; width: 50px; height: 50px; animation-delay: 8s;}
  .bubble:nth-child(10) { left: 95%; animation-duration: 26s; width: 40px; height: 40px; animation-delay: 9s;}

  @keyframes rise {
      0% {
          bottom: -100px;
          transform: translateX(0);
      }
      50% {
        transform: translateX(100px);
      }
      100% {
          bottom: 100%;
          transform: translateX(-100px);
      }
  }

}
